# 1. List comprehension codes

1. find all even numebrs in a range
2. find all odd numebrs in a range
3. find whether a number is greater than a particular number
4. right angled triangle pattern using list comprehension

In [1]:
for i in range(0, 11):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10

In [2]:
w=[i for i in range(0,11) if i%2 == 0] #[<var> for-loop condition]
w

[0, 2, 4, 6, 8, 10]

In [3]:
w=[x for x in range(0, 11) if x%2 != 0]
w

[1, 3, 5, 7, 9]

In [4]:
num = 3

h=[x for x in range(0, 11) if x>num]
h

[4, 5, 6, 7, 8, 9, 10]

In [5]:
h=[x for x in range(0,11) if (x%3)>1]
h

[2, 5, 8]

In [6]:
n=10
for i in range(n):
    for j in range(i+1):
        print('*', end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [7]:
print(*[' *' * i for i in range(1,n+1)], sep='\n')

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *
 * * * * * * * * * *

In [8]:
n = 3
e = [print(*[' *' * i for i in range(1,n+1)], sep='\n')]
e

 *
 * *
 * * *

[None]

# 2. User defined functions

In [9]:
a=0
def function(a, b):
#     global a
    a=10
    return a
function(20,10)

10

In [10]:
a=0
def function(b):
    global a
#     a=10
    return a
function(10)

0

1. args and kwargs

In [11]:
a=0
def function(**args):
#     global a
    for i in range(10):
        args[i] = [j*2 for j in range(10)]
#     args[1] = 20
#     a=10
    return args
function()

{0: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 1: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 2: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 3: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 4: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 5: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 6: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 7: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 8: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18],
 9: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]}

In [12]:
def function1(**kwargs):
    print(kwargs)

function1(kwargs='a', kwargs_2 = 'b')

{'kwargs': 'a', 'kwargs_2': 'b'}

In [13]:
def both_function(*a, **b):
    print(a,b) # on star is args and 2 is kwargs the name doesn't have to be 'kwargs' in the function above

both_function(10, 20, 30, 'a', b2 = 'b2')

(10, 20, 30, 'a') {'b2': 'b2'}

In [14]:
#HW: find prime numbers using list comprehension
n = 20
p= [j for i in range(2,n+1) for j in range(i*2, n, i)] #creating all possible numbers
prime = [x for x in range(2, n) if x not in p] #taking out all the numbers that are not present in the previous list
prime

[2, 3, 5, 7, 11, 13, 17, 19]

In [15]:
any([1,2, False]) #if there is atleast one true item then true

True

In [16]:
all([1,2, False]) #all items have to be true, even one is false then false

False

In [17]:
m = 200
primes = [x for x in range(2, m) if all(x%y!=0 for y in range(2,x))]
primes

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199]

2. mutation in function

# 3. Lambda function

In [18]:
#anonymous function of python

a= lambda x : x**2

a(2)
# you can try to use list comprehension in anonymous function to make functiosn with many lines of code in ONE LINE!

4

In [19]:
# ternary operations: 'if and else but in one line'
x = 3
x+1 if x==2 else 'hello world'

'hello world'

# HW: 
### 1. using lamda function  find whether  a number is odd or even
### 2. prime number with lambda and list comprehension
### 3. try args and kwargs with lambda
### 4. convert each digit of a string into numbers using lambda function
### for example- '19324' --> to #'s 1,9,3,2,4
### 5. after converting each digit to numbers find the sum

In [20]:
# 1:

evOrOd = lambda y : print('even') if y%2 == 0 else print('odd')
evOrOd(3)
evOrOd(4)

odd
even

In [21]:
# 2:

prime43 = lambda m : [x for x in range(2, m) if all(x%y!=0 for y in range(2,x))]
prime43(80)

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79]

In [22]:
# 3: IT WORKS! lambda with args and kwargs :D

g = lambda *args, **kwargs : print(args, kwargs)
g('hi', 2, 4, a = 5, person = 'person', num = 4)

('hi', 2, 4) {'a': 5, 'person': 'person', 'num': 4}

In [30]:
# 4:

string = '19324'
convert = lambda string1 : print(list(map(int, string1)))
convert(string)

[1, 9, 3, 2, 4]

In [35]:
# 5:

convert = lambda string1 : print(sum((list(map(int, string1)))))
convert('19324')

19