In [6]:
a = [x for x in range(1,101) if x%7==0]
a

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [8]:
n=5
for t in range(1,11):
    print(f'{n} X {t} = {n*t}')

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [14]:
#list comprehension: output, loop, condition
a = 5
b = [print(f'{a} X {c} = {a*c}') for c in range(1, 11)]

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [17]:
h = 5
g = lambda u : [print(f'{u} X {x} = {u*x}') for x in range(1,11)]
g(h)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

[None, None, None, None, None, None, None, None, None, None]

In [21]:
li = [2,3,4,7,8,9, 100, 200, 300]
ki = [4,5,6,9,10,11]
# 1. which elements are present in ki and not in li
# 2. out of all the elements in ki, which numbers are multiple of 3

for item in ki:
    if item%3 == 0:
        print(item)

6
9

In [19]:
hi = [print(item) for item in ki if item%3 == 0]

6
9

In [20]:
for item in ki:
    if item not in li:
        print(item)

5
6
10
11

In [22]:
for item in li:
    if item not in ki:
        print(item)

2
3
7
8
100
200
300

In [23]:
for item in li:
    if item in ki:
        print(item)

4
9

In [24]:
ji = [print(item) for item in li if item in ki]

4
9

In [25]:
ji = [print(item) for item in ki if item not in li]

5
6
10
11

In [30]:
# generate multiples of 2 (1-50)
# find which numbers are multiples of 7

yi = [x for x in range(1, 51) if x%2==0 and x%7 == 0]
yi

[14, 28, 42]

In [34]:
nums = 20
primes = [x for x in range(2, nums+1) if all(x%y!= 0 for y in range(2,x)) and x%5 != 0]
primes

[2, 3, 7, 11, 13, 17, 19]

In [38]:
nums1 = 20
primes1 = [i for i in [x for x in range(2, nums1+1) if all(x%y!= 0 for y in range(2,x)) and x%5 != 0] if i%5!=0]
primes1

[2, 3, 7, 11, 13, 17, 19]

In [39]:
#Hw:
# find all the numbers whose sum is 5 from a sequence of numbers from -10 to 10(no repeats like 1+4 and 4+1)
# for no repeats use duplicate removal (like how you use ki and li (what numebrs are in and not in list))
list(range(-10,10))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
bu = list(range(-10,10))
N = 5
out = []
ji = [out.append((N-item, item)) for item in bu if N - item in bu and (item, N-item) not in out]
out

[(9, -4), (8, -3), (7, -2), (6, -1), (5, 0), (4, 1), (3, 2)]